:root{
    --hd-font-color: rgb(170, 124, 7);
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.invoice-container{
    padding: 1em;
}

.logo{
    max-width: 100%;
    height: 80px;
}

.logo-container{
    margin-right: 1em;
}
.company-address{
    margin-left: 1em;
}

.invoice-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em;
}

.invoice-header h1{
    margin-bottom: 0;
    color:var(--hd-font-color)
}

.invoice-header p{
    margin-top: 0.6em;
}
hr{
    border: 1px solid rgb(170, 124, 7);
}

.customer-container{
    margin: 0.8em;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}

.hd-font{
    color: var(--hd-font-color)
}

.customer-container h3{
    margin-bottom: 1em; 
}

.in-details{
    margin-top: auto;
    margin-bottom: auto;
}

.in-details td{
    padding: 0.6em;
}

.product-container{
    padding: 0.5em;
    margin-top: 1em;
}

.item-table{
    width: 90vw;
    text-align: left;
}

.item-table td, th{
    padding: 0.6em 1em;
}

.item-table-hd:first-child{
    background-color: var(--hd-font-color);
}

.invoice-footer{
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.invoice-footer-amount{
    margin: auto 0;
}

.amount-table td, th{
    padding: 0.6em 1em;
}

.footer-divider{
    margin-top: 5em;
    margin-bottom: 1.5em;
}

.footer-note{
    margin: 1.5em 0;
    font-weight: 800;
}

@media only screen and (max-width: 700px) {
    .logo{
        max-width: 100%;
        height: 50px;
    }

    .customer-container h3, h4, p{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 600px) {

    .customer-container h3, h4, p{
        font-size: 0.6em;
    }

    .in-details td{
        padding: 0.4em;
    }
}

@media only screen and (max-width: 500px) {

    .customer-container h3, h4, p{
        font-size: 0.5em;
    }

    .in-details td{
        padding: 0.35em;
    }
}

